hr {
    margin-bottom: 0;
    margin-top: 0;
}

section {
    padding: 16px;
}

.left--td {
    padding-right: 8px;
}

.right--td {
    padding-left: 8px;
}

#redditors--textarea {
    resize: none;
}

#success--alert {
    display: none;
    margin: 0;
    padding: .375rem .75rem;
    text-align: center;
}

#success--td {
    width: 100%;
}
